@import "tailwindcss";

@theme {
    --color-navajo-white: #F7D9AF;
    --color-desert-sand: #EBC6AC;
    --color-periwinkle: #A5A4CF;
    --color-lavender-grey: #8483B0;
    --color-amethyst-smoke: #9E8ABE;
    --color-dusk-blue: #3F5199;
    --color-dusty-grape: #4B5279;
    --color-space-indigo: #282D4C;
    --color-graphite: #363641;
    --color-jet-black: #292B39;
    --color-shadow-grey: #1F1F28;
}